* {
    margin: 0;
    padding: 0;
}

html,
body{
    overflow: hidden;
}

body{
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden; /* ocultar barras scroll */
    outline: none; /* eliminar lineas azules al hacer click */
}